<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/js/lib/jquery-3.2.1.min.js"></script>

  </head>
  <body>
  <% include common/header.ejs%>

  登录
<a href="/index">跳转到首页</a>

  </body>
</html>
