<div class="top">
    <div class="top_left">
        <div class="top_left_a">
            <a href="/" target="_blank" title="中电科物联网开放平台">
                <img src="/images/top/logo1.png"/>
            </a>
        </div>
        <div class="top_left_b">
            物联网开放服务平台<br/>
            <em>IOT OPEN SERVICE PLATFORM</em>

        </div>
    </div>
    <!--<div class="muen">
        <ul>
            <li  <% if(name=='首页'){%>class="list_index_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/">首页 <i class="list_index"></i></a>

            </li>
            <li  <% if(name=='态势分布'){%>class="list_search_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/search">动态感知  <i class="list_search"></i></a>

            </li>
            <li <% if(name=='资产中心'){%>class="list_device_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/assets">资产中心  <i class="list_device"></i></a>

            </li>

            <li <% if(name=='专题应用'){%>class="list_apps_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/apps">应用展示  <i class="list_apps"></i></a>

            </li>
            <li <% if(name=='开发者社区'){%>class="list_develop_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/develop">交流合作  <i class="list_develop"></i></a>

            </li>

        </ul>
    </div>-->

</div>

