<div class="top">
    <div class="top_left">
        <div class="top_left_a">
            <a href="/" target="_blank" title="中电科物联网开放平台"><img src="/assets/img/sentilo/logo.png"/></a>
        </div>
        <div class="top_left_b">
            物联网开放体系架构演示系统<br/>
            <em>IOT OPEN ARCHITECTURE DEMO SYSTERM</em>

        </div>
    </div>
    <div class="muen" >
        <h1>
            设备信息详情
        </h1>

        <ul class="hidden">
            <li  <% if(name=='首页'){%>class="muen_click list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/">首页</a>

            </li>
            <li  <% if(name=='态势分布'){%>class="muen_click list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/search">动态感知</a>
               <!-- <div class="list_0 list ">
                    <ol>
                        <li <% if(name=='态势分布'){%>class="muen_click" <%}%>><a href="/" target="_self" title="态势分布">态势分布</a></li>

                    </ol>
                </div>-->
            </li>
            <li <% if(name=='资产中心'){%>class="muen_click list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/assets">资产中心</a>
               <!-- <div class="list_1 list hidden">
                    <ol>

                        <li <% if(name=='设备资产'){%>class="muen_click" <%}%>><a href="/rest/page/sentilo/shebeizichantongji.html" target="_self"  title="设备资产">设备资产</a></li>

                    </ol>
                </div>-->
            </li>

            <li <% if(name=='专题应用'){%>class="muen_click list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/apps">应用展示</a>
                <!--<div class="list_2 list">
                    <ol>
                        <li <% if(name=='智慧水务'){%>class="muen_click" <%}%>><a href="/rest/page/sentilo/lousuntaishi.html" target="_self" title="智慧水务">智慧水务</a></li>
                    </ol>
                </div>-->
            </li>

        </ul>
    </div>
    <div class="top_right">
        <div class="top_right_a">
            <ul>
                <li>2017-09-14</li>
                <li>星期四</li>
                <li>17:14</li>
            </ul>
        </div>
        <!-- <div class="top_right_b">
            <ul>
                <li class="top_right_b_a"><a target="_blank" title="登录"><img src="/assets/img/sentilo/dl_a.png"/></a></li>
                <li>欢迎</li>
                
                
                
            </ul>
        </div> -->
    </div>
</div>

