* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0 40px;
  background: #000;
}
ul,
li {
  list-style: none;
}
.hidden {
  display: none;
}
.list_father .list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
.list_father:hover .list {
  display: block;
}
.top {
  width: 100%;
  height: 80px;
  line-height: 65px;
  text-align: center;
  margin: 40px auto;
  overflow: hidden;
  background-color: #121c29;
  background: url('../images/top/top2.png') 5px;
}
.top .top_left {
  width: auto;
  /* height: 65px; */
  line-height: 65px;
  text-align: left;
  float: left;
  display: inline;
  margin: 0px auto;
}
.top .top_left .top_left_a {
  width: 138px;
  margin-left: 30px;
  height: 80px;
  line-height: 65px;
  text-align: left;
  float: left;
  display: inline;
  overflow: hidden;
}
.top .top_left .top_left_a img {
  width: 138px;
  height: 80px;
}
.top .top_left .top_left_b {
  font-size: 27px;
  margin-top: 15px;
  margin-left: 30px;
  height: auto;
  line-height: 26px;
  width: auto;
  text-align: left;
  float: left;
  display: inline;
  overflow: hidden;
  color: #61c2f5;
}
.top .top_left .top_left_b em {
  color: #429aa4;
  font-size: 16px;
}
.top .muen {
  width: 1010px;
  height: 30px;
  margin: 25px 0 0 100px;
  background: url('../images/top/top1.png');
  float: right;
  text-align: center;
  overflow: hidden;
  background: -webkit-linear-gradient(left, red, blue);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, red, blue);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, red, blue);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #0b2d4c, #2b4f8d);
  /* 标准的语法 */
}
.top .muen h1 {
  font-size: 28px;
  width: 800px;
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
  margin-top: -18px;
}
.top .muen ul {
  width: auto;
  height: auto;
  line-height: 28px;
  text-align: left;
  overflow: hidden;
  list-style: none;
  /*首页 点击样式*/
  /*动态感知 点击样式*/
  /*资产中心 点击样式*/
  /*应用展示 点击样式*/
  /*开发者社区 点击样式*/
}
.top .muen ul .list_i {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
}
.top .muen ul .list_index {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -75px -17px;
}
.top .muen ul .list_index_selected a {
  color: #04ebff;
  font-weight: bold;
}
.top .muen ul .list_index_selected i {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -75px -50px;
}
.top .muen ul .list_search {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -253px -17px;
}
.top .muen ul .list_search_selected a {
  color: #04ebff;
  font-weight: bold;
}
.top .muen ul .list_search_selected i {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -253px -50px;
}
.top .muen ul .list_device {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -443px -17px;
}
.top .muen ul .list_device_selected a {
  color: #04ebff;
  font-weight: bold;
}
.top .muen ul .list_device_selected i {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -443px -50px;
}
.top .muen ul .list_apps {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -626px -17px;
}
.top .muen ul .list_apps_selected a {
  color: #04ebff;
  font-weight: bold;
}
.top .muen ul .list_apps_selected i {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/top3.png') -626px -50px;
}
.top .muen ul .list_develop {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/dev.png') no-repeat;
  background-size: 22px 22px;
  position: relative;
  top: 4px;
  left: 3px;
}
.top .muen ul .list_develop_selected a {
  color: #04ebff;
  font-weight: bold;
}
.top .muen ul .list_develop_selected i {
  position: relative;
  top: 4px;
  left: 3px;
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-left: 10px;
  background: url('../images/top/dev_selected.png') no-repeat;
  background-size: 22px 22px;
}
.top .muen ul li {
  width: auto;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  line-height: 28px;
  text-align: left;
  float: left;
  display: inline;
  overflow: hidden;
  color: #ffffff;
}
.top .muen ul li:hover {
  /* background: #00a2d6;*/
  color: #04ebff;
}
.top .muen ul li:hover a {
  color: #04ebff;
}
.top .muen ul li a {
  font-size: 16px;
  width: 160px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: right;
}
.top .muen ul li .list_0 {
  top: 90px;
  left: 674px;
}
.top .muen ul li .list_1 {
  top: 90px;
  left: 885px;
}
.top .muen ul li .list_2 {
  top: 90px;
  left: 1095px;
}
.top .muen ul li .list {
  width: auto;
  height: auto;
  background-image: none;
  background-color: #123f57;
  border: 0;
}
.top .muen ul li .list ol {
  width: auto;
}
.top .muen ul li .list ol li {
  width: auto;
  height: auto;
}
.top .muen ul li .list ol li a {
  width: 180px;
  font-size: 18px;
  color: #03ccff;
  border: 1px solid #74c0f1;
}
.top .muen ul li .list ol li a:hover {
  color: #fff;
}
.top .muen ul li .list ol li.muen_click {
  background-color: #123f57;
}
.top .muen ul li .list ol li.muen_click a {
  color: #fff;
}
.top .muen ul li.muen_click {
  /*background: #00a2d6;*/
}
.top .top_right {
  width: auto;
  height: 65px;
  line-height: 26px;
  margin: 20px 30px 20px auto;
  text-align: left;
  float: right;
  display: inline;
  overflow: hidden;
  font-size: 18px;
  color: #ffffff;
}
.top .top_right .top_right_a {
  width: auto;
  height: 26px;
  line-height: 26px;
  margin: 0px auto 13px;
  overflow: hidden;
  text-align: left;
}
.top .top_right .top_right_a ul {
  width: auto;
  height: 26px;
  line-height: 26px;
  margin: 0px auto;
  overflow: hidden;
  text-align: left;
}
.top .top_right .top_right_a ul li {
  width: auto;
  height: 26px;
  line-height: 26px;
  float: right;
  display: inline;
  overflow: hidden;
  text-align: left;
  padding: 0px;
  margin-left: 10px;
}
.clear {
  display: block;
  content: " ";
  height: 0;
  clear: both;
}
.page {
  border: 1px solid #053a66;
  box-shadow: 0 0 5px #053a66;
}
.page .cksb {
  color: #ffffff;
}
.page .cksb .cksb_top {
  height: 70px;
  width: 600px;
  line-height: 28px;
  font-size: 22px;
  vertical-align: middle;
  padding-top: 30px;
  margin-left: 60px;
  border-bottom: 2px solid #053a66 ;
}
.page .cksb .cksb_top img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 15px;
}
.page .cksb .cksb_b {
  width: 100%;
  height: 350px;
  padding-left: 30px;
  border-bottom: 1px solid #053a66;
}
.page .cksb .cksb_b .cksb_b_left {
  width: 800px;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
}
.page .cksb .cksb_b .cksb_b_left .cksb_b_img {
  height: 185px;
  width: 340px;
  float: left;
  border: 1px solid #053a66;
  text-align: center;
  background: url('../images/bg1.png') center;
}
.page .cksb .cksb_b .cksb_b_left .cksb_b_img img {
  width: 130px;
  height: 130px;
  margin-top: 30px;
}
.page .cksb .cksb_b .cksb_b_left .cksb_b_left_r {
  float: left;
  margin-left: 30px;
}
.page .cksb .cksb_b .cksb_b_left .cksb_b_left_r ul li {
  width: 350px;
  line-height: 36px;
  font-size: 18px;
  border-bottom: 1px solid #385476;
}
.page .cksb .cksb_b .cksb_b_left .cksb_b_left_r ul li span {
  display: inline-block;
  width: 100px;
  text-align: left;
  color: #58b3e5;
  vertical-align: bottom;
}
.page .cksb .cksb_b .cksb_b_left:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
}
.page .cksb .cksb_b .cksb_b_right {
  float: left;
  height: 230px;
  max-width: 850px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 40px;
  border: 1px solid #053a66;
  background: url('../images/bg3.png');
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_top {
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  background: #0d233d;
  border-bottom: 1px solid #053a66;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_top img {
  width: 35px;
  height: 30px;
  margin: 0 10px 0 10px;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom {
  height: 190px;
  overflow: hidden;
  background: url('../images/bg3.png') no-repeat center;
  background-size: cover;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom ul {
  height: 190px;
  float: left;
  /*border-right:1px solid #053a66;*/
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom ul li {
  width: 200px;
  height: 190px;
  float: left;
  border-right: 1px solid #053a66;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom ul li span {
  display: block;
  width: 150px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  color: #ff7200;
  cursor: pointer;
  overflow: hidden;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom ul li span:nth-child(1) {
  margin-top: 20px;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom ul li span:nth-child(2) {
  background: #00a2d6;
  color: #ffffff;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom .cksb_b_date {
  height: 190px;
  width: 240px;
  float: left;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom .cksb_b_date img {
  display: block;
  width: 75px;
  margin: 0 auto;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom .cksb_b_date span {
  display: block;
  width: 200px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom .cksb_b_date .cksb_b_date_d {
  background: #00a2d6;
  font-size: 18px;
}
.page .cksb .cksb_b .cksb_b_right .cksb_b_left_bottom .cksb_b_date .cksb_b_date_word {
  color: #06e260;
}
.page .cksb .cksb_d {
  height: 450px;
  margin-left: 30px;
  margin-top: 30px;
}
.page .cksb .cksb_d .cksb_d_left {
  width: 840px;
  height: 440px;
  float: left;
  border: 1px solid #053a66;
}
.page .cksb .cksb_d .cksb_d_left .cksb_d_left_top {
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  background: #0d233d;
  border-bottom: 1px solid #053a66;
}
.page .cksb .cksb_d .cksb_d_left .cksb_d_left_top img {
  width: 35px;
  height: 30px;
  margin: 0 10px 0 10px;
}
.page .cksb .cksb_d .cksb_d_left .cksb_d_left_bottom {
  height: 400px;
  background: url('../images/bg2.png') no-repeat center;
  background-size: cover;
}
.page .cksb .cksb_d .cksb_d_left .cksb_d_left_bottom ul {
  padding: 40px;
}
.page .cksb .cksb_d .cksb_d_left .cksb_d_left_bottom ul li {
  width: 750px;
  line-height: 36px;
  font-size: 18px;
  border-bottom: 1px solid #385476;
}
.page .cksb .cksb_d .cksb_d_left .cksb_d_left_bottom ul li .li_left {
  margin-left: 30px;
  display: inline-block;
  width: 200px;
  text-align: left;
  color: #58b3e5;
  vertical-align: bottom;
}
.page .cksb .cksb_d .cksb_d_right {
  width: 840px;
  height: 440px;
  margin-left: 30px;
  float: left;
  border: 1px solid #053a66;
}
.page .cksb .cksb_d .cksb_d_right .cksb_d_right_top {
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  background: #0d233d;
  border-bottom: 1px solid #053a66;
}
.page .cksb .cksb_d .cksb_d_right .cksb_d_right_top img {
  width: 35px;
  height: 30px;
  margin: 0 10px 0 10px;
}
#jqxTree {
  top: 60px;
}
.sbzctj {
  background-color: #006b8d;
}
.lsfx {
  background-image: none;
  background-color: #006b8d;
}
.lsfx .lsfx_left {
  margin: 10px 0 0 10px;
  border: 1px solid #20b7d2;
  box-shadow: 5px 5px 3px #34313a;
}
.lsfx .lsfx_left #lsfx_left_a a {
  color: #23ffff;
}
.lsfx .lsfx_left .ztyy_click a {
  background-color: #00a2d6;
  color: #fff;
}
.lsfx .lsfx_right {
  width: 1638px;
}
.sbzctj .kqzl_a a {
  font-size: 18px;
}
.sbzctj .sbzctj_a_left_b {
  background-color: #004c64;
  border: 1px solid #1aa8c4;
  margin: 0;
  padding: 0px;
  height: 200px;
}
.sbzctj .sbzctj_a_left_b .sbzctj_a_left_b_a {
  text-align: center;
  color: #23ffff;
}
.sbzctj .sbzctj_a_left_b .sbzctj_a_left_b_b {
  color: #00ff00;
  float: none;
  font-size: 60px;
}
.sbzctj .sbzctj_a_middle {
  background-color: #004c64;
  border: 1px solid #1aa8c4;
  margin-left: 30px;
}
.sbzctj .sbzctj_a_middle .sbzctj_a_middle_a {
  font-size: 24px;
  color: #23ffff;
  border-bottom: 1px solid #1aa8c4;
}
.sbzctj .sbzctj_a_right {
  margin-left: 100px;
  float: left;
  background-color: #004c64;
  border: 1px solid #1aa8c4;
}
.sbzctj .sbzctj_a_right .sbzctj_a_right_a {
  font-size: 24px;
  color: #23ffff;
  border-bottom: 1px solid #1aa8c4;
}
.sbzctj .sbzctj_b {
  background-color: #004c64;
  border: 1px solid #1aa8c4;
}
.sbzctj .sbzctj_b .sbzctj_b_a {
  font-size: 24px;
  color: #23ffff;
  border-bottom: 1px solid #1aa8c4;
}
.sbzctj .sbzctj_b .sbzctj_b_b {
  padding: 20px;
}
/*动态感知页面样式*/
.center {
  width: 100%;
  height: 890px;
  text-align: center;
  bottom: 0;
}
.center #map {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background-color: #151c26;
}
.content {
  background: radial-gradient(#263387, #0d1927);
  border: 1px solid #053a66;
  margin: 0 36px;
  height: 716px;
}
.content .top-left-corner {
  float: left;
  margin-top: -1px;
  margin-left: -1px;
}
.content .top-right-corner {
  transform: rotate(90deg);
  float: right;
  margin-top: -1px;
  margin-right: -1px;
}
.content .bottom-left-corner {
  transform: rotate(-90deg);
  float: left;
  position: relative;
  left: -8px;
  top: 707px;
}
.content .bottom-right-corner {
  transform: rotate(-180deg);
  position: relative;
  float: right;
  right: -8px;
  top: 707px;
}
.content .slogan {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #0dd7f8;
  height: 34px;
  line-height: 34px;
  padding-top: 45px;
  letter-spacing: 2px;
}
.content .sub-slogan {
  background-color: #500a12;
  width: 332px;
  height: 35px;
  line-height: 34px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  margin: 45px auto 0 auto;
}
.content #chart {
  width: 100%;
  height: 700px;
  float: left;
  top: -48px;
}
.content .map {
  height: 600px;
  width: 100%;
  background-image: url(/images/china-111.png);
  background-repeat: no-repeat;
  background-position: 52% 50%;
  background-size: 790px 550px;
}
.ad {
  width: 1680px;
  margin: 0 auto;
  position: relative;
  top: -60px;
}
.ad .ad1,
.ad .ad2,
.ad .ad3 {
  width: 494px;
  height: 116px;
  background-color: #0d1927;
  border: 1px solid #053a66;
  float: left;
  margin-left: 33px;
  margin-right: 33px;
}
.ad .ad1 .top-left-corner,
.ad .ad2 .top-left-corner,
.ad .ad3 .top-left-corner {
  float: left;
  margin-top: -1px;
  margin-left: -1px;
}
.ad .ad1 .top-right-corner,
.ad .ad2 .top-right-corner,
.ad .ad3 .top-right-corner {
  transform: rotate(90deg);
  float: right;
  margin-top: -1px;
  margin-right: -1px;
}
.ad .ad1 .bottom-left-corner,
.ad .ad2 .bottom-left-corner,
.ad .ad3 .bottom-left-corner {
  transform: rotate(-90deg);
  float: left;
  position: relative;
  left: -8px;
  top: 107px;
}
.ad .ad1 .bottom-right-corner,
.ad .ad2 .bottom-right-corner,
.ad .ad3 .bottom-right-corner {
  transform: rotate(-180deg);
  position: relative;
  float: right;
  right: -8px;
  top: 107px;
}
.ad .ad1 .img,
.ad .ad2 .img,
.ad .ad3 .img {
  display: inline-block;
  position: relative;
  top: 4px;
  left: -10px;
  width: 237px;
  height: 105px;
  border: 1px solid #053a66;
  background-color: #0d233d;
}
.ad .ad1 dl,
.ad .ad2 dl,
.ad .ad3 dl {
  display: inline-block;
  position: relative;
  left: 14px;
  top: -20px;
  width: 210px;
}
.ad .ad1 dl dt,
.ad .ad2 dl dt,
.ad .ad3 dl dt {
  color: #0bb3d6;
  font-size: 20px;
  font-weight: 700;
}
.ad .ad1 dl dd,
.ad .ad2 dl dd,
.ad .ad3 dl dd {
  padding-top: 10px;
  color: #898c90;
  font-size: 12px;
  line-height: 16px;
}
.ad .clear {
  clear: both;
}
.assets-content,
.develop-content {
  border: 1px solid #053a66;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #0d1927;
  height: 904px;
  position: relative;
}
.assets-content .sidebar,
.develop-content .sidebar {
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  width: 342px;
  height: 857px;
  background-color: #0a2751;
  float: left;
  border: 1px solid #164e88;
}
.assets-content .sidebar .accordion,
.develop-content .sidebar .accordion {
  width: 90%;
  margin: 0 auto;
}
.assets-content .sidebar .accordion .link,
.develop-content .sidebar .accordion .link {
  cursor: pointer;
  padding: 15px 15px 0 0;
  color: #0bb3d6;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 2px solid #004a8d;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  vertical-align: middle;
}
.assets-content .sidebar .accordion .link img,
.develop-content .sidebar .accordion .link img {
  vertical-align: middle;
}
.assets-content .sidebar .accordion .submenu,
.develop-content .sidebar .accordion .submenu {
  display: none;
  background: #0a2751;
  font-size: 12px;
  height: 340px;
  overflow-y: auto;
}
.assets-content .sidebar .accordion .submenu li,
.develop-content .sidebar .accordion .submenu li {
  border-bottom: 1px solid #284b75;
}
.assets-content .sidebar .accordion .submenu li a,
.develop-content .sidebar .accordion .submenu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.assets-content .sidebar .accordion .submenu li a:hover,
.develop-content .sidebar .accordion .submenu li a:hover {
  background: #0b5baf;
  color: #fff;
}
.assets-content .split-line,
.develop-content .split-line {
  width: 2px;
  height: 903px;
  border-left: 1px solid #053a66;
  float: left;
}
.assets-content .device-list,
.develop-content .device-list {
  height: 760px;
  float: left;
  padding-left: 30px;
  padding-top: 16px;
}
.assets-content .device-list .device,
.develop-content .device-list .device {
  width: 1360px;
  height: 168px;
  margin-bottom: 12px;
  border: 1px solid #05316a;
  background: linear-gradient(to right, #082450, #042f75, #0d1b2d);
  position: relative;
}
.assets-content .device-list .device .top-left-corner,
.develop-content .device-list .device .top-left-corner {
  float: left;
  margin-top: -1px;
  margin-left: -1px;
}
.assets-content .device-list .device .top-right-corner,
.develop-content .device-list .device .top-right-corner {
  transform: rotate(90deg);
  float: right;
  margin-top: -1px;
  margin-right: -1px;
}
.assets-content .device-list .device .bottom-left-corner,
.develop-content .device-list .device .bottom-left-corner {
  transform: rotate(-90deg);
  float: left;
  position: relative;
  left: -8px;
  top: 159px;
}
.assets-content .device-list .device .bottom-right-corner,
.develop-content .device-list .device .bottom-right-corner {
  transform: rotate(-180deg);
  position: relative;
  float: right;
  right: -8px;
  top: 159px;
}
.assets-content .device-list .device .device-picture,
.develop-content .device-list .device .device-picture {
  width: 230px;
  height: 152px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 42px;
  background-color: #0d233d;
  border: 1px solid #154c86;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  vertical-align: middle;
}
.assets-content .device-list .device .device-name,
.develop-content .device-list .device .device-name {
  width: 220px;
  display: inline-block;
  padding-left: 100px;
  vertical-align: middle;
}
.assets-content .device-list .device .device-name h3,
.develop-content .device-list .device .device-name h3 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
.assets-content .device-list .device .profile,
.develop-content .device-list .device .profile {
  display: inline-block;
  padding-left: 153px;
  vertical-align: middle;
  font-size: 14px;
}
.assets-content .device-list .device .profile td.name,
.develop-content .device-list .device .profile td.name {
  width: 86px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #61c2f5;
}
.assets-content .device-list .device .profile td.value,
.develop-content .device-list .device .profile td.value {
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
.assets-content .device-list .device .more,
.develop-content .device-list .device .more {
  position: absolute;
  right: 168px;
  bottom: 26px;
  width: 100px;
  height: 24px;
  display: inline-block;
  background-color: #500a12;
  text-align: center;
}
.assets-content .device-list .device .more a,
.develop-content .device-list .device .more a {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.assets-content .footer,
.develop-content .footer {
  position: absolute;
  right: 15px;
  bottom: 40px;
}
.assets-content .footer .pagination li,
.develop-content .footer .pagination li {
  display: inline-block;
  width: 50px;
  text-align: center;
  border: none;
}
.assets-content .footer .pagination li a,
.develop-content .footer .pagination li a {
  display: inline-block;
  color: #61c2f5;
  border: none;
}
.assets-content .footer .pagination li.page a,
.develop-content .footer .pagination li.page a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #61c2f5;
  border: none;
}
.assets-content .footer .pagination li.prev,
.develop-content .footer .pagination li.prev {
  width: 100px;
}
.assets-content .footer .pagination li.next,
.develop-content .footer .pagination li.next {
  width: 100px;
}
.assets-content .footer .pagination li.active a,
.develop-content .footer .pagination li.active a {
  background-color: #164e89;
}
.assets-content .footer .page,
.develop-content .footer .page {
  box-shadow: none;
}
.assets-content .clear,
.develop-content .clear {
  clear: both;
}
.apps-content {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #053a66;
  background-color: #0d1927;
  position: relative;
}
.apps-content .app {
  width: 840px;
  height: 512px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.apps-content .app .xiayuanquan {
  display: inline-block;
  vertical-align: middle;
}
.apps-content .app h2 {
  display: inline-block;
  color: #0bb3d6;
  font-size: 24px;
  vertical-align: middle;
}
.apps-content .app .h-split-line {
  height: 2px;
  border-top: 2px solid #004a8d;
  margin-top: 2px;
  margin-bottom: 30px;
}
.apps-content .app .img {
  width: 840px;
  height: 323px;
}
.apps-content .app .img .overlay {
  width: 840px;
  height: 323px;
  position: absolute;
  top: 77px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  display: none;
}
.apps-content .app .img .overlay a {
  display: inline-block;
  width: 840px;
  height: 323px;
  color: #aaa;
  font-size: 40px;
  font-weight: 900;
  line-height: 300px;
  -webkit-text-stroke: 1px #575757;
}
.apps-content .app .img:hover .overlay {
  display: block;
  cursor: pointer;
}
.apps-content .app .picture1 {
  background: url(/images/smartagriculture.jpg);
  background-size: 840px 323px;
  background-repeat: no-repeat;
}
.apps-content .app .picture2 {
  background: url(/images/smartcity.jpg);
  background-size: 840px 323px;
  background-repeat: no-repeat;
}
.apps-content .app .picture3 {
  background: url(/images/smartpark.jpg);
  background-size: 840px 323px;
  background-repeat: no-repeat;
}
.apps-content .app .picture4 {
  background: url(/images/shineidingwei.jpg);
  background-size: 840px 323px;
  background-repeat: no-repeat;
}
.apps-content .app .picture5 {
  background: url(/images/chemicallogistics.jpg);
  background-size: 840px 323px;
  background-repeat: no-repeat;
}
.apps-content .app .picture6 {
  background: url(/images/citysafe.jpg);
  background-size: 840px 323px;
  background-repeat: no-repeat;
}
.apps-content .app p {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.apps-content .app p a {
  color: #fff;
}
.apps-content .app p a:hover {
  text-decoration: underline;
}
.apps-content .right-sidebar {
  position: absolute;
  top: 0;
  right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 126px;
  border-right: 2px solid #053963;
}
.apps-content .right-sidebar ul {
  width: 126px;
}
.apps-content .right-sidebar ul li {
  width: 126px;
  height: 39px;
}
.apps-content .right-sidebar ul li a {
  display: block;
  width: 126px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #004e71;
  background-color: #01304a;
  color: #5dbbec;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
/* 0927 */
.index-main {
  height: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  background-color: #293444;
}
.apps-main {
  height: 1000px;
  text-align: center;
  margin: 0px auto;
  padding: 15px;
  overflow: hidden;
  background-color: #293444;
}
.search-box {
  position: absolute;
  top: 240px;
  left: 80px;
  z-index: 100;
  opacity: 0.8;
  width: 400px;
  max-height: 520px;
  background: #0c2a45;
  text-align: center;
}
.search-box .search-box-inner {
  border: 1px solid #1382e6;
  box-shadow: 0 0 10px #1382e6;
}
.search-box .search-box-inner input {
  width: 320px;
  /* padding-left: 5px ;*/
  line-height: 40px;
  font-size: 20px;
  background: #0c2a45;
  border: transparent;
  color: #ffffff;
}
.search-box .search-box-inner button {
  width: 68px;
  line-height: 30px;
  font-size: 20px;
  background: #01304a;
  border: 1px solid #61c2f5;
  color: #61c2f5;
  margin-right: 3px;
}
.search-box #deviceList {
  display: block;
  margin: 10px;
  list-style: none;
  opacity: 1;
  /* border:1px solid green;*/
  max-height: 460px;
  overflow-x: auto;
  text-align: center;
}
.search-box #deviceList .red {
  color: #dc191a;
  font-weight: bold;
}
.search-box #deviceList .gray {
  color: #CBCECC;
  font-weight: bold;
}
.search-box #deviceList .clicked {
  background: #e4e4e4;
}
.search-box #deviceList li {
  width: 360px;
  line-height: 38px;
  color: #00ff00;
  display: block;
  /* border-bottom: 1px solid #e4e4e4;*/
}
.search-box #deviceList li .list-l {
  float: left;
  padding-left: 10px;
}
.search-box #deviceList li .list-r {
  float: right;
  padding-right: 10px;
}
.search-box #deviceList li:hover {
  cursor: pointer;
  background: #e4e4e4;
}
.search-box #deviceList li:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.develop-content .waiting {
  height: 760px;
  float: left;
  padding-left: 30px;
  padding-top: 16px;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
}
